@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  border-radius: 20px 0 20px 0;
}
.main {
  background-image: url("https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_23-2149008629.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: auto;
}
@keyframes marquee {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
